* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background: rgb(159, 182, 147);
  font-family: sans-serif;
}

article {
  text-align: center;
  margin-top: 30px;
}

header {
  color: white;
  font-size: 14pt;
  text-transform: uppercase;
}

p {
  margin-top: 10px;
}

hr {
  border: none;
  background: green;
  height: 1px;
  margin: 10px 20%;
  text-align: center;
}

section {
  padding-top: 20px;
  text-align: center;
}

a {
  margin: 10px;
  color: white;
  font-size: 14pt;
  transition: all 0.5s;
}

a:hover {
  /*letter-spacing: 3px;*/
  text-shadow: 0 0 1em white;
}

form {
  position: relative;
}

input {
  display: block;
  position: relative;
  left: 40%;
}

textarea, input {
  width: 20%;
  padding: 5px;
  margin-top: 5px;
}
